.home-container{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.top-content{
    margin-top:8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.image-title{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.top-content span{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wallet-list{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.wallet-list div{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content:space-evenly;
    min-width: 50vw;
}

.visuals{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
