/* .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

