/* .nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    align-items: center;
}


.nav-links-container{
    text-decoration: none;
} */


.me-auto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;

}

#Nav-link{
    margin-left:2rem;
}